.navbar {
  background-color: rgb(39, 0, 139);
  margin: 1rem;
  padding: 0.5rem;
  justify-content: center;
}
.navbar h3 {
  color: aqua;
}
.heading {
  text-align: center;
  background-color: rgba(173, 235, 254, 0.1);
  margin: 1rem;
  padding: 0.5rem;
  color: #ce4bd2;
}
body {
  background-color: rgb(211, 187, 224);
}
.form{
  justify-content: center;
  color: #ce4bd2;
}